@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Roboto&display=swap");

body {
  font-family: 'lora', serif;
  font-size: 18px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 20px 0px;
}
a {
  text-decoration: none;
}
